# Ignore dataset folder (replace 'dataset' with the actual folder name)
dataset/

# Ignore imported yolo_cam folder
yolo_cam/

# Ignore all .keras model files
*.keras
*.pt

# Ignore any cached or temporary files
__pycache__/
*.log

# Ignore all image files
*.jpg